USE [master]
GO
/****** Object:  Database [CurdMvc]    Script Date: 02-05-2024 17:17:39 ******/
CREATE DATABASE [CurdMvc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CurdMvc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CurdMvc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CurdMvc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CurdMvc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CurdMvc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CurdMvc]
GO
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 02-05-2024 17:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[MName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
	[MobileNO] [decimal](10, 0) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[District] [varchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StudentInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
